/* -*- mode: javascript -*- */

macro_quotes: macro_quotes {
    compatible = "zmk,behavior-macro";
    label = "macro_quotes";
    #binding-cells = <0>;
    bindings = <&kp SQT>, <&kp SQT>, <&kp LEFT>;
};

macro_dquotes: macro_dquotes {
    compatible = "zmk,behavior-macro";
    label = "macro_dquotes";
    #binding-cells = <0>;
    bindings = <&kp DQT>, <&kp DQT>, <&kp LEFT>;
};

macro_parens_1: macro_parens_1 {
    compatible = "zmk,behavior-macro";
    label = "macro_parens_1";
    #binding-cells = <0>;
    bindings = <&kp LPAR>, <&kp RPAR>, <&kp LEFT>;
};

macro_brackets_2: macro_brackets_2 {
    compatible = "zmk,behavior-macro";
    label = "macro_brackets_2";
    #binding-cells = <0>;
    bindings = <&kp LBKT>, <&kp RBKT>, <&kp LEFT>;
};

macro_parens_2: macro_parens_2 {
    compatible = "zmk,behavior-macro";
    label = "macro_parens_2";
    #binding-cells = <0>;
    bindings = <&kp LPAR>, <&kp RPAR>;
};

macro_brackets_2: macro_brackets_2 {
    compatible = "zmk,behavior-macro";
    label = "macro_brackets_2";
    #binding-cells = <0>;
    bindings = <&kp LBKT>, <&kp RBKT>;
};

macro_braces: macro_braces {
    compatible = "zmk,behavior-macro";
    label = "macro_braces";
    #binding-cells = <0>;
    bindings = <&kp LBRC>, <&kp RBRC>, <&kp LEFT>;
};

macro_graves: macro_graves {
    compatible = "zmk,behavior-macro";
    label = "macro_graves";
    #binding-cells = <0>;
    bindings = <&kp GRAVE>, <&kp GRAVE>, <&kp GRAVE>, <&kp GRAVE>, <&kp GRAVE>, <&kp GRAVE>, <&kp LEFT>, <&kp LEFT>, <&kp LEFT>;
};
